#add-modal.hidden
  .boxed-group
    h3 Add new file
      button.octicon.octicon-x.float-right.close-button(onclick='hads.closeAdd()')
    form.boxed-group-inner(onsubmit='hads.add(this.file.value); return false')
      p
        label(for='add') File name
      p
        input.form-control#add(name='file', type='text', placeholder='my-folder/my-file.md', required)
        | &nbsp;
        button.btn(type='submit') Create