.header
  .container.clearfix
    a.header-logo-invertocat(href='/')
      span.mega-octicon.octicon-book
    .header-search
      form
        .inline-wrapper
          label.form-control.header-search-wrapper
            input.form-control.header-search-input(type='search', name='q', placeholder='Search', disabled)
    //ul.header-nav.float-left(role="navigation")
    //  li.header-nav-item
    //    a.header-nav-link(href="#") Home
    //  li.header-nav-item
    //    a.header-nav-link(href="#") Docs