doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    each style in styles
      link(href=style, rel='stylesheet', type='text/css')
  body
    include header
    block content
    include footer
    each script in scripts
      script(src=script)

