doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon", href="/_hads/assets/favicon.ico")
    each style in styles
      link(href=`/_hads${style}`, rel='stylesheet', type='text/css')
  body
    include header
    block content
    include footer
    include add
    each script in scripts
      script(src=`/_hads${script}`)
    script.
      mermaid.initialize(Object.assign({startOnLoad: true, theme: 'neutral'}, window.MERMAID_CONFIG || {}));

