body {
  min-width: 0;
}

.container {
  width: auto;
  max-width: 980px;
}

.boxed-group {
  margin-top: 20px;
}

.header-title {
  font-weight: 600;
}

.file > h3 {
  border: none;
}

.header-logo-invertocat {
  height: 28px;
  margin-top: -1px;
}

.inline-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
}

.site-footer {
  margin-top: 20px;
  padding: 20px 0;
}

.hidden {
  display: none;
}

.ace_editor {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  display: block;
  height: calc(100vh - 200px);
}

.search blockquote {
  font-size: 85%;
}

.file-modified {
  font-weight: normal;
  font-size: 90%;
  color: #666;
}

.mermaid:not([data-processed='true']) {
  visibility: hidden;
}

rect {
  shape-rendering: auto !important;
}

.drag-and-drop {
  border: none;
  border-top: 1px dashed #ddd;
}

#add-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

#add-modal > .boxed-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1020px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header .header-search {
    width: auto;
  }
}

@media print {
  .container {
    max-width: none;
  }

  .boxed-group {
    margin: 0;
  }

  .header, .site-footer, .file-header {
    display: none;
  }

  .file {
    border: 0;
    margin: 0;
  }

  .markdown-body {
    padding: 0 !important;
  }
}
